<div class="top-menu">

    <img class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

    <div>Counter value: {{ counter() }}</div>
    <div>Derived Counter: {{ derivedCounter() }}</div>
    <div>Multiplier: {{ multiplier }}</div>

    <div>Course Title: {{ course().title }}</div>

    <div>Courses: {{ courses().join(', ') }}</div>

    <button (click)="increment()">Increment</button>
    <button (click)="incrementMultiplier()">++ Multiplier</button>

</div>


