<div class="top-menu">

    <img class="logo"
        src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo" #divContainer>
    <div><b>Start Date:</b> {{ startDate | date: 'dd-MMM-yyyy' }}</div>
    <div><b>Price:</b> {{ price | currency: 'ZAR' }}</div>
</div>

<div class="courses">

    @for (course of courses; 
        track course.id; 
        let count = $count;
        let first = $first;
        let even = $even;
        let odd = $odd) {
            <h2> Count: {{count}}</h2>
            <course-card 
                [index]="$index"
                [course]="course"
                [class.is-first]="first"
                [class.is-last]="$last"
                [class.is-even]="even"
                [class.is-odd]="odd"
                (onCourseSelected)="courseSelected($event)" />
    }
    @empty {
        <h1>No courses found!!</h1>
    }
</div>


